/* ====== fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rubik+Glitch&display=swap');

/* ====== reused styles ====== */
h1,
h2,
h3 {
  font-family: var(--featured-font-family);
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  color: var(--highlight-color);
  line-height: 24px;
}

p,
label,
input,
textarea {font-family: 'Libre Baskerville', serif;}

button {
  cursor: pointer;
  padding: 16px 32px;
  font-size: 1.25rem;
  font-weight: 900;
  font-family: var(--featured-font-family);
  text-transform: uppercase;
  background: transparent;
  transition: background 1s;
}

input,
textarea {
  border: 2px solid var(--primary-color-contrast);
  background-color: var(--field-background-color);
  font-size: 1rem;
  color: inherit;
  padding: 8px;
  margin-bottom: 24px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border-color: var(--field-background-color);
}

label {margin-bottom: 8px;}

/* ====== header ====== */
#header {
  min-height: 850px;
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('/assets/images/banner/florest.webp') no-repeat center 90%/cover;
  filter: saturate(0);
  opacity: 0.2;
}

.header-content {
  max-width: 700px;
  padding: 80px 18px;
  text-align: center;
  z-index: 2;
}

.header-content img {width: 80%;}

.header-content p {margin: 30px 0 50px;}

.header-content .cta-button {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: rgba(207, 15, 15, 0.1);
}

.header-content .cta-button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

.world-characters {
  width: 100%;
  max-width: 900px;
  position: absolute;
}

.world-characters#top-characters {
  bottom: -3px;
  height: 100%;
  background-color: var(--character-top-image-color);
  -webkit-mask: var(--character-top-image-src) bottom / contain no-repeat;
  mask: var(--character-top-image-src) bottom / contain no-repeat;
}

/* ====== main ====== */
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat, url('../images/backgrounds/florest.png') no-repeat;
  background-size: cover;
  z-index: -1;
}

.world-characters#bottom-characters {
  height: 500px;
  background-color: var(--character-bottom-image-color);
  -webkit-mask: var(--character-bottom-image-src) bottom / contain no-repeat;
  mask: var(--character-bottom-image-src) bottom / contain no-repeat;
  transform: rotateX(180deg);
  position: relative;
  top: 3px;
}

/* ====== sections ====== */
section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.container {max-width: 1200px;}

/* ====== section inverted world ====== */
#section-inverted-world .section-content {width: 50%;}

#section-inverted-world .section-content h1 {max-width: 500px;}

/* ====== section trailer ====== */
#section-trailer .video-frame {background-color: var(--primary-color);}

#section-trailer .video-frame iframe {
  position: relative;
  bottom: 24px;
  left: 24px;
  border: 2px solid;
  border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
  border-image-slice: 10;
}

#section-trailer .section-content {
  width: 50%;
  text-align: right;
}

#section-trailer .section-content h2 {
  max-width: 425px;
  display: inline-block;
}

/* ====== section gallery ====== */
#section-gallery {
  width: 100%;
  background: var(--background-lamp-image) 120% / 50% no-repeat;
}

#section-gallery h2 {max-width: 800px}

#section-gallery .gallery-container {
  display: flex;
  gap: 50px;
  padding-left: 20px;
}

#section-gallery .gallery-image {
  width: 250px;
  height: 250px;
  outline: 20px solid var(--highlight-color);
  border: 3px solid var(--primary-color);
  box-sizing: inital;
}

#section-gallery .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid var(--highlight-color);
}

/* ====== section form ====== */
#section-form {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

#section-form h2 {width: 600px;}

#section-form .form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-form .form-content h3 {
  flex-basis: 30%;
  text-align: left;
  color: var(--highlight-color);
  margin: 0;
}

#section-form .form-content h3 span {color: var(--primary-color);}

#section-form .form-container {
  flex-basis: 50%;
  position: relative;
}

#section-form .form-container:after {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  z-index: -1;
}

#section-form .form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  text-align: left;
}

#section-form .form-container .form button {
  border: none;
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  max-width: 300px;
  align-self: center;
}

#section-form .form-container .form button:hover {
  color: var(--field-background-color);
  background-color: var(--primary-color-contrast);
}